<h2>회원가입</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= f.error_notification %>
<div class="row">
	<div class="span3">
		</div>
	<div class="span3">
		<h4>직접가입하기<h4>
		<div class="form-inputs">
			<%= f.input :email, :label=>"이메일", :required => true, :autofocus => true %>
			<%= f.input :password, :label=>"비밀번호", :autocomplete => "off", :required => false %>
			<%= f.input :password_confirmation, :label=>"비밀번호확인", :required => false %>
			<%= f.input :name, :label=>"이름", :required => true %>
		</div>

		<div >
			<center>
			<%= f.button :submit, "가입", :class=>"btn btn-primary" %>
			</center>
		</div>
	</div>
	<div class="span1" style="height:500px; text-align: center;">
		<h4>OR</h4>
	</div>
	<div class="span5">
		<center>
		<h4>페이스북으로 가입하기<h4>
			</center>
		<center>
		<a href="/users/auth/facebook" class="services"><img style="width:50px" src="/facebook_64.png" width="20"></a>
		</center>
	</div>

</div>
<% end %>

<%= render "devise/shared/links" %>
