               <div class="sidebar-nav">
               	<div style="float: left;padding-right:5px;">
                <img src='<%= current_user.image_url%>' />
                <center><h4>
                	<%= current_user.name %></h4></center>
                </div>
                <div> <img src='<%= current_user.avatar_image_url%>'>
                	<center><h4><%= current_user.tribe%></h4></center>
                </div>
                <div style="clear: both;">
                	<i class="icon-envelope" ></i>&nbsp;<span class="badge badge-info">3</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<i class="icon-th-large"></i>&nbsp;<span class="badge badge-info">5,000</span>
                </div>
                
                <ul class="nav nav-list">
                  <li><%= link_to "신청중인공연", '#'  %></li>
                  <li><%= link_to "찜 공연", '#'  %></li>
                  <li><%= link_to "함께한 공연", '#'  %></li>
                  <li><%= link_to "관심친구", '#'  %></li>

                </ul>
              </div><!--/.well -->