<div class='row-fluid'>
	<div class='span5'>
		<center>
			<img src='<%= current_user.image_url%>' width='50'/>
		
			<h4> <%= current_user.name %></h4>
		</center>	
	</div>
	<div class='span5'>
		<center>
		<img src='<%= current_user.avatar_image_url%>' width='50'>
		
			<h4><%= current_user.tribe%></h4>
		</center>	
	</div>	
	
</div>


<div class="sidebar-nav">



	<ul class="nav nav-list">
		<li>
			<%= link_to "신청중인공연", tickets_path  %>
		</li>
		<!-- ><li>
			<%= link_to "찜 공연", concerts_path(:filter=>'favorit')  %>
		</li> -->
		<li>
			<%= link_to "함께한 공연", tickets_path(:matched=>'true')  %>
		</li>
		<!--
		<li>
			<%= link_to "관심친구", love_users_path  %>
		</li> -->
		
		<% if current_user.admin?%>
		<br/>
		관리자메뉴
		<li><%= link_to "공연생성", new_concert_path  %></li>
		<li><%= link_to "매칭하기", new_match_path  %></li>
		<li><%= link_to "전체사용자", users_path  %></li>
		<li><%= link_to "전체신청", tickets_path(:all=>'true')  %></li>
		<%end%>

	</ul>
</div><!--/.well -->