<%if params[:matched] %>
<h4>함께한 공연</h4>

<table class="table">
  <tr>
    <th>공연제목</th>
    <th>장소</th>
    <th>날짜시간</th>
    <th>함께한친구</th>
 
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.concert.title %></td>
    <td><%= ticket.concert.location %></td>
    <td> <%= ticket.match.schedule.label_start_time%> </td>
    <td><ul> 
    	<% ticket.match.tickets.each do |o_ticket|%>
	    <li style="padding-bottom: 5px;"><img src='<%= o_ticket.user.image_url%>' width='30px'> <%=o_ticket.user.name %> (<%=o_ticket.user.gender %>)</li>
	<%end%></ul>
    	</td>
  
  </tr>
<% end %>
</table>
<%else%>
<h4>신청중인 공연</h4>

<table class="table">
  <tr>
    <th>공연제목</th>
    <th>장소</th>
    <th>날짜시간</th>
    <th>수정하기</th>
    <th>취소신청</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.concert.title if ticket.concert%></td>
    <td><%= ticket.concert.location if ticket.concert %></td>
    <td> <ul>
<% ticket.select_schedules.each do |schedule| %>
  <li>
    	<%= schedule.label_start_time%>   
  </li>
<% end %>
 </ul>
   	</td>
    <td><%= link_to '수정하기', edit_ticket_path(ticket, :concert_id=>ticket.concert.id) if ticket.concert %></td>
    <td><% if ticket.status == 'matched' %> <%= link_to "선정완료", ticket.match %> 
    	<% elsif ticket.status == 'failed' %> 다음기회
    	<%else%>
    	<%= link_to '취소하기', ticket, confirm: '추운겨울을 보내고 싶으세요?', method: :delete %> <%end%> </td>
  </tr>
<% end %>
</table>

<%end%>


<%= link_to 'New Ticket', new_ticket_path %>
